body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  height: 100%;
}

.picContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.picContainer img {
  width: 78%;
  height: auto;
  max-height: 1076px;
}

.overlayContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78%;
}

.overlayContainer :hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.overlay {
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
  text-align: center;
  width: 78%;
  margin:20px;
}



.textOverlay {
  margin: 70px;
  color:rgb(0,99,175);
  letter-spacing: 2px ;
  font-weight: bolder;
  font-size: large;
}