.offerContainer {
  display: flex;
}

.carousel {
  flex: 1;
  max-width: 50%;
}

.carouselInner {
  position: relative;
  width: 100%;
}

.carousel-item {
  display: none;
  position: absolute;
  width: 100%;
  max-height: 1076px;
  align-items: center;
}

.carousel-item.active {
  display: block;
}

.offerText {
  flex: 1;
  padding: 100px; 
  font-size: 20px;
}
