.header {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    text-align: center;
    height: auto;
  }

  .topContact {
    height: 3vh;
    background-color: rgb(0,99,175);
  }

  .nav {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 7vh;
    margin-left: 10vw;
  }

  .logo {
    margin-right: 20vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  .link {

    color: rgb(236,238,239);
    text-decoration: none;
  }

  .link:hover {
    color:  rgb(0,99,175);
  }

  p {
    margin: 10px 20px;
  }