@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");

.header {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #fff;
  text-align: center;
  height: 10vh;
  margin-top: 6vh;
}

.topContact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  background-color: rgb(0, 99, 175);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4;
}

.nav {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 10vh;
  margin-left: 10vw;
  transition: transform 0.3s ease-in-out;
}

.navActive {
  transform: translateX(0);
}

.navInactive {
  transform: translateX(-50%);
}

.hamburger {
  display: block;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

.logo {
  width: 30vw;
  margin-right: 10vw;
  color: white !important;
  text-decoration: none !important;
  font-family: "Cormorant", serif;
  font-size: 2rem;
}

.link {
  color: rgb(236, 238, 239);
  text-decoration: none !important;
  font-weight: bold;
}

.link:hover {
  color: rgb(0, 99, 175);
}

p {
  margin: 10px 20px;
}

@media (max-width: 450px) {
  body,
  html {
    overflow-x: hidden;
  }
  
  .header {
    height: auto;
  }

  .nav {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    transform: none;
    height: auto;
  }

  .hamburger {
    width: 100vw;
  }

  .logo {
    display: flex;
    font-size: 26px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  p {
    font-size: small;
  }
}

@media (min-width: 450px) and (max-width: 821px) {
  .header {
    height: auto;
    margin: 0;
  }

  .nav {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    transform: none;
    height: auto;
  }

  .hamburger {
    width: 100vw;
  }

  .logo {
    display: flex;
    font-size: 26px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 6vh;
  }

  p {
    font-size: small;
    margin: 0;
  }
}
