body {
  overflow-x: hidden;
}

.offerContainer {
  display: flex;
  flex-direction: column;
  height: auto;
}

.offerPic {
  position: relative;
  width: auto;
  height: auto;
  max-height: 80vh;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/Img/annika-gordon-cZISY8ai2iA-unsplash.webp");
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.offerText {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 3vw;
  width: 80vw;
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(0, 99, 175) !important;
  letter-spacing: 4px;
  font-size: larger;
}

.languageOffer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10vh;
  margin: 4vh;
}

.LANG {
  margin: 15px 0;
  font-size: 1.3rem;
  color: #333;
}

.marqueeText {
  width: 100%;
  font-weight: bolder;
 letter-spacing: 2px;
}

.courseDescription {
  font-size: medium;
  letter-spacing: 2px;
}

@media (max-width: 450px) {
  .offerContainer {
    margin-bottom: 12vh;
  }

  .titleContainer {
    flex-direction: column;
  }

  .offerText {
    padding: 5vw;
    font-size: smaller;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 6vh;
  }

  .LANG {
    margin: 0;
    margin-bottom: 1vh;
  }
}

@media (min-width: 450px) and (max-width: 821px) {
  .offerContainer {
    margin-bottom: 19vh;
    height: auto;
  }

  .offerText {
    padding: 3vw;
    font-size: smaller;
    width: 100vw;
  }

  .LANG {
    margin: 0;
    margin-bottom: 1vh;
  }
}
