.offerContainer {
  display: flex;
  height: 74vh;
}

.carousel {
  flex: 1;
  overflow: hidden;
}

.carouselInner {
  position: relative;
}

.carousel-item {
  display: none;
  position: absolute;
  max-height: 1076px;
  align-items: center;
}

.carousel-item.active {
  display: block;
}

.offerText {
  flex: 1;
  text-align: left;
  overflow-y: auto;
  height: 74vh;
  margin-bottom: 10vh;
  padding: 2vh;
  color: white !important;
  letter-spacing: 4px;
  font-size: larger;
 
}

.offerHeader {
  background-color: rgb(0, 99, 175); 
  padding: 3vw;
  border-radius: 6px;
  margin-bottom: 10px;
}

article {
 justify-content: center;
 padding: 1vw;
}

.offerDescription {
  flex: 1;
  text-align: left;
  height: 74vh;
  color:#333 !important;
  font-weight: normal;
  font-size: medium;
  letter-spacing: 1px;
  width: auto;
}

.offerText p {
 text-align: left;
}

img {
  height: 74vh;
  width: auto;
  position: sticky;
  top: 0;
}

h2,h3 {
  color: rgb(0, 99, 175)
}

@media (max-width: 450px) {
  .offerContainer {
    z-index: 0;
    position: relative;
    height: 85vh;
  }

  .offerText {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 12vh;
    z-index: 2;
    padding: 0;
    height: auto;
  }

  .carousel {
    width: 100vw;
    z-index: 1;
  }

  .offerText p {
    width: auto;
    margin: 0;
    padding: 9px;
  }

  article {
    margin: 3vw;
    text-align: center;
    font-size: small;
  }

  img {
    z-index: 0;
  }

  h2,h3,li {
    font-size: small;
    padding-left: 2px;
    letter-spacing: normal;
  }

  ul, li {
    margin: 2px;
    padding: 6px;
  }
}

@media (min-width: 450px) and (max-width: 821px) {
  .offerContainer {
    z-index: 0;
    position: relative;
    height: 85vh;
  }

  .offerText {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 19vh;
    z-index: 2;
    padding: 0;
    height: auto;
  }

  .carousel {
    width: 100vw;
    z-index: 1;
  }

  .offerText p {
    width: auto;
    margin: 0;
    padding: 9px;
  }

  article {
    margin: 3vw;
    text-align: center;
    font-size: small;
  }

  img {
    z-index: 0;
    height: 100vh;
  }

  h2,h3,li {
    font-size: small;
    padding-left: 2px;
    letter-spacing: normal;
  }

  ul, li {
    margin: 2px;
    padding-right: 6px;
  }

}
