.offerContainer {
  display: flex;
  height: 74vh;
}

.carousel {
  flex: 1;
  overflow: hidden;
}

.carouselInner {
  position: relative;
}

.carousel-item {
  display: none;
  position: absolute;
  max-height: 1076px;
  align-items: center;
}

.carousel-item.active {
  display: block;
}

.offerText {
  flex: 1;
  text-align: left;
  font-size: 20px;
  overflow-y: auto;
  height: 74vh;
  margin-right: 5vw;
  padding-top: 5vh;
  margin-bottom: 10vh;
}

.offerText p {
  width: 50vw;
}

img {
  height: 74vh;
  width: auto;
  position: sticky;
  top: 0;
}

article {
  margin: 2vw;
}

@media (max-width: 375px) {
  .offerContainer {
    z-index: 0;
    position: relative;
  }

  .offerText {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 12vh;
    z-index: 2;
    padding: 0;
    height: 72vh;
  }

  .carousel {
    width: 100vw;
    z-index: 1;
  }

  .offerText p {
    width: 100vw;
    margin: 0;
    padding: 9px;
    font-weight: bold;
  }

  article {
    margin: 3vw;
    text-align: center;
    font-size: small;
  }

  img {
    z-index: 0;
  }
}

@media (min-width: 376px) and (max-width: 750px) {
  .offerContainer {
    z-index: 0;
    position: relative;
  }

  .offerText {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 19vh;
    z-index: 2;
    padding: 0;
    height: auto;
  }

  .carousel {
    width: 100vw;
    z-index: 1;
  }

  .offerText p {
    width: 100vw;
    margin: 0;
    padding: 9px;
    font-weight: bold;
  }

  article {
    margin: 3vw;
    text-align: center;
    font-size: small;
  }

  img {
    z-index: 0;
    height: 100vh;
  }
}
