.offerContainer {
  display: flex;
}

.carousel {
  flex: 1;
  overflow: hidden;
}

.carouselInner {
  position: relative;
}

.carousel-item {
  display: none;
  position: absolute;
  max-height: 1076px;
  align-items: center;
}

.carousel-item.active {
  display: block;
}

.offerText {
  flex: 1;
  text-align: left;
  font-size: 20px;
  overflow-y: auto;
  height: 80vh;
  margin-right: 5vw;
  margin-top: 5vh;
}

.offerText p {
  width: 50vw;
}

img {
  height: 80vh;
  position: sticky;
  top: 0;
}

article {
  margin: 2vw;
}

@media (max-width: 375px) {
  .offerContainer {
    flex-direction: column;
    background-color: #333;
    z-index: 0;
    position: relative;
  }
  
  .offerText {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 12vh;
    z-index: 2;
    padding: 0;
    color: white;
    justify-content: center;
  }


  .carousel {
    width: 100vw;
  }

  .offerText p {
    width: 100vw;
    margin: 0;
    padding: 9px;
    font-weight: bold;
  }

  article {
    margin: 3vw;
    text-align: center;
  }
}
